{% extends "base/base.html" %}
{% load i18n %}

{% block body %}
<div class="container">
    <nav aria-label="breadcrumb">
	  <ol class="breadcrumb mt-2">
		<li class="breadcrumb-item"><a href="{% url 'base:home' %}">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">{% translate 'Password reset' %}</li>
	  </ol>
    </nav>
    <h4 class="mb-3 mt-4">Redefinição de senha enviada!</h4>
    <p>Nos te enviamos um email com instruções para configurar sua senha, se uma conta existe com o email fornecido. Você receberá a mensagem em breve.</p>
    <p>Se você não recebeu um email, por favor certifique-se que você forneceu o endereço que você está cadastrado, e verifique sua pasta de spam.</p>
</div>

{% endblock %}
