{% extends 'base/base.html' %}
{% load i18n static %}

{% block titulo %}Recuperação de Senha{% endblock titulo %}

{% block body %}
<div class="w-50 p-3 container" xmlns="http://www.w3.org/1999/html">
    <div class="card p-3 mt-3">
        <h1 class="mb-5">{{ title }}</h1>
        <p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

        <form method="post">{% csrf_token %}
            <div class="table table-striped">
                {{ form.email.errors }}
                <label for="id_email">{% translate 'Email address:' %}</label>
                {{ form.email }}
            </div>
            <input class="mt-3 mb-3 btn btn-info" type="submit" value="{% translate 'Reset my password' %}">
        </form>
    </div>
</div>
{% endblock %}
