{% extends 'base/base.html' %}
{% load static %}
{% block titulo %}Video Aperitivo: Motivação{% endblock titulo%}
{% block descricao %}Página com vídeo gratuito de Python{% endblock descricao %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="mt-4 mb-4">
					<h1>{{ video.titulo | default:'Faltando Título' }}</h1>
				</div>
					<iframe src="https://player.vimeo.com/video/{{ video.vimeo_id }}?h=e0df472a0d&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="1280" height="720" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Company Story"></iframe>
			</div>
		</div>
	</div>
{% endblock body %}
