<footer class="main-footer mt-5 pt-4 text-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Entre com contato</h3>
                <address>
                    +55 12 997-411-854
                    <br>
                    <a href="mailto:ramalho@python.com.br" class="text-light">ramalho@python.com.br</a>
                </address>
            </div>
        </div>
    </div>
    <div class="container rights pb-4">
        <div class="row">
            <div class="col">
                {% now 'Y' %} Python Pro. Todos os direitos reservados.
            </div>
        </div>
    </div>
</footer>